name: Django CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        include:
          - python-version: "3.7"
            django-version: Django==2.2

          - python-version: "3.7"
            django-version: Django==3.2

          - python-version: "3.8"
            django-version: Django==3.2

          - python-version: "3.8"
            django-version: Django==4.0

          - python-version: "3.8"
            django-version: Django==4.1

          - python-version: "3.8"
            django-version: Django==4.2

          - python-version: "3.9"
            django-version: Django==2.2

          - python-version: "3.9"
            django-version: Django==3.2

          - python-version: "3.9"
            django-version: Django==4.0

          - python-version: "3.9"
            django-version: Django==4.1

          - python-version: "3.9"
            django-version: Django==4.2

          - python-version: "3.10"
            django-version: Django==3.2

          - python-version: "3.10"
            django-version: Django==4.0

          - python-version: "3.10"
            django-version: Django==4.1

          - python-version: "3.10"
            django-version: Django==4.2

          - python-version: "3.11"
            django-version: Django==4.1

          - python-version: "3.11"
            django-version: Django==4.2

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install coverage
        pip install ${{ matrix.django-version }}
    - name: Run Tests
      run: coverage run runtests.py

